.pending {
	border: 1px solid #666;
	border-radius: 8px;
	border-bottom: 0px;
	width: 64px;
	height: 64px;
	position:relative;
	background-image: url('load-pending.svg');
	background-size: cover;
	margin: auto auto;
}
.pending:after {
	content: '(loading)';
	position: absolute;
	top:5px;
	font-size: 8pt;
	left:0;
	text-align: center;
	width: 100%;
}
.loadError {
	border: 1px solid #666;
	border-radius: 8px;
	border-top: 0px;
	width: 64px;
	height: 64px;
	position:relative;
	background-image: url('load-error.svg');
	background-size: cover;
	margin: auto auto;
}
.loadError:after {
	content: '(error)';
	position: absolute;
	bottom:5px;
	font-size: 8pt;
	left:0;
	text-align: center;
	width: 100%;
}
