@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loadingRight {
  0% { transform: translateX(95%); }
  10% { transform: translateX(97%); }
  20% { transform: translateX(95%); }
  30% { transform: translateX(97%); }
  40% { transform: translateX(95%); }
  50% { transform: translateX(97%); }
  60% { transform: translateX(95%); }
  70% { transform: translateX(97%); }
  80% { transform: translateX(95%); }
  90% { transform: translateX(97%); }
  100% { transform: translateX(95%); }
}
@keyframes loadingTop {
  0% { transform: translateY(-95%); }
  10% { transform: translateY(-97%); }
  20% { transform: translateY(-95%); }
  30% { transform: translateY(-97%); }
  40% { transform: translateY(-95%); }
  50% { transform: translateY(-97%); }
  60% { transform: translateY(-95%); }
  70% { transform: translateY(-97%); }
  80% { transform: translateY(-95%); }
  90% { transform: translateY(-97%); }
  100% { transform: translateY(-95%); }
}
@keyframes slideOutInFromRight {
  0% { transform: translateX(0); }
  20% { transform: translateX(95%); }
  30% { transform: translateX(97%); }
  40% { transform: translateX(95%); }
  50% { transform: translateX(97%); }
  60% { transform: translateX(95%); }
  70% { transform: translateX(97%); }
  80% { transform: translateX(95%); }
  100% { transform: translateX(0); }
}
@keyframes slideOutInFromRight2 {
  0% { transform: translateX(0); }
  20% { transform: translateX(95%); }
  30% { transform: translateX(97%); }
  40% { transform: translateX(95%); }
  50% { transform: translateX(97%); }
  60% { transform: translateX(95%); }
  70% { transform: translateX(97%); }
  80% { transform: translateX(95%); }
  100% { transform: translateX(0); }
}
@keyframes slideOutInFromTop {
  0% { transform: translateY(0); }
  20% { transform: translateY(-95%); }
  30% { transform: translateY(-97%); }
  40% { transform: translateY(-95%); }
  50% { transform: translateY(-97%); }
  60% { transform: translateY(-95%); }
  70% { transform: translateY(-97%); }
  80% { transform: translateY(-95%); }
  100% { transform: translateY(0); }
}
@keyframes slideOutInFromTop2 {
  0% { transform: translateY(0); }
  20% { transform: translateY(-95%); }
  30% { transform: translateY(-97%); }
  40% { transform: translateY(-95%); }
  50% { transform: translateY(-97%); }
  60% { transform: translateY(-95%); }
  70% { transform: translateY(-97%); }
  80% { transform: translateY(-95%); }
  100% { transform: translateY(0); }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
