div.hamburger {
	position: -webkit-sticky;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 1000;
  width: 32px;
  height: 32px;
  opacity: 0;
  cursor: pointer;
  padding: 4px;
  padding-right: 0px;
}
/*
div.hamburger:before,
div.hamburger:after,
div.menu:before,
div.menu:after {
  content: '';
  display: table;
}
*/

div.menu label,
div.hamburger label {
	cursor: pointer;
}
div.menu {
	position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  top: 20px;
  padding-right: 1.5em;
}

div.menu ul {
  list-style-type: none;
  padding-left: 24px;
}

div.hamburger svg {
	width: 100%;
	height: 100%;
}
input.showHideNext,
input.hamburger {
	display: none;
}
input.showHideNext + ul {
  max-height: 0px;
  max-width: 0px;
  padding: 0;
  overflow: hidden;
}
#expressivereflection:target ~ div.menu input#showProjects + ul,
#demandjs:target ~ div.menu input#showProjects + ul,
#experimentsTwo:target ~ div.menu input#showExperiments + ul,
#experimentsOne:target ~ div.menu input#showExperiments + ul,
input.showHideNext:checked + ul {
  max-height: 1000px;
  max-width: 1000px;
  padding-left: 1em;
  overflow: visible; /* show selection indicator */
}
/*input#hamburger_close ~ div.menu div.hamburger #on_close_hamburger,*/
input#hamburger_open ~ div.hamburger #on_open_hamburger {
	display: block;
}
input#hamburger_open:checked ~ div.hamburger,
input#hamburger_open:checked ~ div.hamburger #on_open_hamburger {
	max-height:0px;
  max-width:0px;
  padding:0px;
  overflow: hidden;
}
input#hamburger_close:checked ~ div.menu div.hamburger {
  visibility: hidden;
}
@media (min-width: 48em) {
  .hamburger {
		opacity: 0;
		transition: opacity 0.75s ease-out;
		/*animation: fadeOut 0.75s ease-in;*/
  }
	div.hamburger {
    max-height:0px;
    max-width:0px;
    padding:0px;
	}
	div.menu {
	}
}
@media (max-width: 480px) {
  input#hamburger_open:checked ~ div.menu div.hamburger,
  input#hamburger_close:checked ~ div.hamburger {
    max-width: 24px !important;
    max-height: 24px !important;
  }
}
@media (max-width: 48em) {
   div.hamburger {
    opacity: 1;
		transition: opacity 0.75s ease-in;
    max-width: 32px;
    max-height: 32px;
    padding: 4px;
    padding-right: 0px;
  }
	input#hamburger_open ~ div.menu {
		max-width: 0px;
		max-height: 0px;
    padding:0px;
    overflow: hidden;
    padding-right: 1.5em;
	}
	input#hamburger_close:checked ~ main:target,
  body > input#hamburger_close:checked ~ main:last-of-type {
  }
  input#hamburger_close:checked ~ div.hamburger {
    margin-right: 6px;
    /* this transition leads to a little wierd bounce at the end that we all:
     * could fix with a better keyframe or timing function */
    transition: margin-right 0.7s step-end;
  }
	input#hamburger_close:checked ~ div.menu {
    margin-left: -36px;
		transition: max-width 0.75s ease-out, max-height 0.75s ease-out;
  }
	input#hamburger_open:checked ~ div.menu {
  /* for smooth animation these two values must be tweaked to a size that accomodates the max size of the menu,
     these values must be greater than or equal to the total consumed space of the menu as well */
		max-width: 400px; 
		max-height: 800px;
    /*********************/
    overflow: hidden;
		transition: max-width 0.75s ease-in, max-height 0.75s ease-in;
	}
  input#hamburger_open:checked ~ div.menu div.hamburger {
    top: 0px;
  }
}
main:target ~ div.menu a#menu_item_home,
.menu a:link,
.menu a:hover,
.menu a:visited,
.menu a:active {
  color: black;
  text-decoration: none;
}
div.menu li {
  position: relative;
}
div.menu a#menu_item_home,
#expressivereflection:target ~ div.menu a#menu_item_project_expressivereflection,
#demandjs:target ~ div.menu a#menu_item_project_demandjs,
#experimentsTwo:target ~ div.menu a#menu_item_experimentsTwo,
#experimentWebCrypto:target ~ div.menu a#menu_item_experimentWebCrypto,
#homeGym:target ~ div.menu a#menu_item_homeGym,
#gymTv:target ~ div.menu a#menu_item_gymTv,
#credits:target ~ div.menu a#menu_item_credits,
#resume:target ~ div.menu a#menu_item_resume,
#experimentsOne:target ~ div.menu a#menu_item_experimentsOne {
  color: darkorange;
}
div.menu a#menu_item_home:after,
#expressivereflection:target ~ div.menu a#menu_item_project_expressivereflection:after,
#demandjs:target ~ div.menu a#menu_item_project_demandjs:after,
#experimentsTwo:target ~ div.menu a#menu_item_experimentsTwo:after,
#experimentWebCrypto:target ~ div.menu a#menu_item_experimentWebCrypto:after,
#homeGym:target ~ div.menu a#menu_item_homeGym:after,
#gymTv:target ~ div.menu a#menu_item_gymTv:after,
#credits:target ~ div.menu a#menu_item_credits:after,
#resume:target ~ div.menu a#menu_item_resume:after,
#experimentsOne:target ~ div.menu a#menu_item_experimentsOne:after {
  content: ' ';
  background-color: #FFF;
  background-image: url('data:image/gif;base64,R0lGODlh/gD0Aef7AAAAAAEBAQICAgMDAwQEBAUFBQYGBgcHBwgICAkJCQoKCgsLCwwMDA0NDQ4ODg8PDxAQEBERERISEhMTExQUFBUVFRYWFhcXFxgYGBkZGRoaGhsbGxwcHB0dHR4eHh8fHyAgICEhISIiIiMjIyQkJCUlJSYmJicnJygoKCkpKSoqKisrKywsLC0tLS4uLi8vLzAwMDExMTIyMjMzMzQ0NDU1NTY2Njc3Nzg4ODk5OTo6Ojs7Ozw8PD09PT4+Pj8/P0BAQEFBQUJCQkNDQ0REREVFRUZGRkdHR0hISElJSUpKSktLS0xMTE1NTU5OTk9PT1BQUFFRUVJSUlNTU1RUVFVVVVZWVldXV1hYWFlZWVpaWlxcXF1dXV5eXl9fX2BgYGFhYWJiYmNjY2RkZGVlZWZmZmdnZ2hoaGlpaWtra2xsbG1tbW5ubm9vb3BwcHFxcXJycnNzc3R0dHV1dXZ2dnd3d3h4eHl5eXp6ent7e3x8fH19fX5+fn9/f4CAgIGBgYKCgoODg4SEhIWFhYaGhoeHh4iIiImJiYqKiouLi4yMjI2NjY6Ojo+Pj5CQkJGRkZKSkpOTk5SUlJWVlZaWlpeXl5iYmJmZmZqampubm5ycnJ2dnZ+fn6CgoKGhoaKioqOjo6SkpKWlpaampqenp6ioqKmpqaqqqqurq6ysrK2tra6urq+vr7CwsLGxsbKysrOzs7S0tLW1tba2tre3t7i4uLm5ubq6uru7u7y8vL29vb6+vr+/v8DAwMHBwcLCwsPDw8TExMbGxsfHx8jIyMnJycrKysvLy8zMzM3Nzc7Ozs/Pz9DQ0NHR0dLS0tPT09TU1NXV1dbW1tfX19jY2NnZ2dra2tvb29zc3N3d3d7e3t/f3+Dg4OHh4eLi4uPj4+Tk5OXl5ebm5ufn5+jo6Onp6erq6uvr6+zs7O3t7e7u7u/v7/Dw8PHx8fLy8vPz8/T09PX19fb29vf39/j4+Pn5+fr6+vv7+/z8/P39/f7+/v///////////////////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQD/ACwAAAAA/gD0AQAI/gABCBxIcOAFcPsSKlzIsKHDhxAjSpxIsaLFixgzatzI8WHBjwNRqOtIsqTJkyhTqly5EKRLHPVYypxJs6ZNmy5dRtF3s6fPn0CB5nTJJqjRo0iTXhzqcpHSp1CjCmX6McAqqVizai1JFaQBX1vDih3rsCtIB9PIql2L1SzIDeTYyp0b1C3IFvDo6t0r0y5IIvb4Ch7c0S/IM4QTK6ZoGKSoxZAjK3TTuOCBZJIzJ9YXpTJBDek0i+ZbD4fngT7yjV49Vx2J0wLhsJ69lhsF2ABU0d4tNlkC2ArS8h6OVZYA2CPYEV8O9RJuIjyZSz9qB/ee6diDXsEdK7v3m/Z8/sB24O27+ZnsPMDGEf28e5TODsAm9L7+SVGwCWC2z59jGtgizNPfgBjZY9ppZBCoYEXlWADbKwtGGNEwA5wWgTgSZtiQI7D9oOGHCkkBGyMgfhgPCqcZ4EyJGmLzwGknxMSihK/AtsaMGX4BmzA4RgiPCDDS0+OCyRznmR5DLujHaQRQkySB+RxYWQ7tPWmfNwucRomVA3ZyGgPjcNlfFadJISZ/7WRwWitn2tdLAJ5h8E6b9c1xWhp0vnfPCZ4FgEye7glzGgv3AHreGKc5Zeh360zgmQMjLeodKXdK+t0Rng1wjaXZffNbZUlwmp0ip/Ui6nT4sOCZCvicKh0y/hVWtqWrzL3hWQTt0LqcPBx4Joeuy9XiWQHcAEtcE56ZaSxv18Ta2DDL8raGZzFUGe1o6jjgGSnX0saIZySo1u1q9nzg2WPjrrYKuOKmK5qUhoXi7mjKsDuvaF149sm9moUjX2Ph8psZH555IrBk8VRQGQmFHgzZJJ5x4jBk9ajZmAcNT5wYxJVtorFiFVeG8ccbe6YJyYSF3JgI1qJMlySeQegyaRYbFsTMgsFc2TI476WyYV30vJfOhhEQl9Bz/ewXkkjPFUllEgjZNFtK24XJ1HIlUlkKWLPljgKV0dL1WtM2ZsTYamUDZ2PSoE2WE5WN4fZYu1R2QGhzh5VC/mWH5B0WJ5WF4PdW91xQ2S+Da/VHZV4knlU6//qFQF6OSxVGZZdULpU0ldWguVRDVCbc50qpUlkbpD9lj8KGQRBY6knJUVkpsCc1TWVF1J7UDo0FEI7uRwHeWB/AGzVPloZp0HLxNpVRWS3MA2VMZVdEDxSKhiUgj/U+PVIZt9zftE4BjT0Rfk9YNGaAO+fbhEtlErdfUweNHSF/TXYaNgDe97NETGWV6N9MamYXDwmQJW3oXZgOqJJfVKYRDFSJPhxlmBtEUCVnqMzvLniSXFTGCH0IoQhHSMISmvCEKEyhClfIwha2sDsSwgcFcUPDGtrwhiBBg4Yuh8Me+vCH/nbRYYZmAcQiGvGIABCihOqhLSQ68YmwUaKEtgDFKlrRLVKMECuuyMUufiSLC6rHp7xIRiuCcUFWKKMaoXhGBZlijXA8YhsJJA8DxPGOPpwjgaCAxz7aUI8DAoUfBxnFErXDjoRMpF8AOSAlKPKRZmFkfzYByUoORZL8QYezLMlJgWCSPzropCiTOCM8jLKTn7TPLU7JyVTWZx4EaMwuOIiSUBoGELQ8iSkNc7ZcluR9hmlAu3y5EVg2RhnEJAnvDAOJZHYkD42xgjM5Aky/TGCaxYylYbKBTY0s0y8G6yZGoGmYBInzIh40DNfOaRFjGgYd7LQIDxrjinhWRA+N/pmDPSmSTr/kYJ8TcaddCCAggEZknoYxlUEhgk/DCGKhENFFY5AA0YcI1C0SqOhDaNCYDWp0ITz0yyw+yhDvGcYQJF0ILxqjhZQqJB2NWYFLFdIrvwhARi5dwjFnuo87NKYTPC1FY2QzU84ZZgg8zQci7ZJRns6gMQt0aUjtAr2ZcsgwiODpSg2zBZ7C1DAt4Ok+amoXAQyTpI40TDN46lPD7GumlDLMr4ramBO48K54zate92rCrOIoHxtg5SMtMCQgCFaRhO0RGQ6byMTiCBGMJaRjZ7TFyPpxsiyChmUvOyR6bLaPmGWRej4bx9CWKHSkhaNpQZTB1K5xtR+C/qxr1QhbDQl1tmWsbYYEhVsy6lZC4eitb5OkD20K94q/lRCQjovcJxmWuVZMboTyBd0qSndBe6iudZ+UicaAZaaFaAybZhqKxliCp74YHk+10Rgz8PQea7OL+XiKgQqKtQaG8YBYReSXAoiVMoaJlEtJZRhr8FQTjTEGT01nGFzwVKKGQQVPk9GYTKy3MYrgqToawzSX5qMxahDri/zCBbGayy9NEOsLDNMDsT7XLi4QKx/9ol+egsEwDhCrrQxz1o8uzjDr4CkkGrONAzcmGjz9RGOYwdO4+uUYPE1FY3g00xoZ5rsupUVjHDzTftplpDO1RmNONlP2GsYEQEiz/prXzOY2u/nNcHYzzxLnjcPywnHjsLPjzqHnxG1YsHdOHDv6PDh3ENpv8Dh03uSh6Ll5FtCOq0ej3ZZoSCduHZNGmzkyPTZxcLpr3fg01rAh6qndztKDc0apm0Zhw6ggzrCOtazbPOfB/c8wqeApMOjJ07oZBswuXaVhbsFTWTQm0C5tRWOIwdNRHJmnlWhMeWZqiMYIOKW79EuPNfofyYmVin6pgFiR5RcRiPUHhnmBWGFgGB6INQSGCRVPJWAYafLUSHYRA0/j0Rg38NTThrnOTE/tl77N9NZ+sfBMhe0XmbkUP4YpBk8J7JdizTQOjXmdS7MQTBcbhgRi5ZNf/nYg1gYYJgr7bgxiZnoN9c40vYaZlUtv65dcz7QRjQEGT/OnXSdeV0Hg7jkSf04g1Ar9iEQfUAmOPvQnbZLpP0w6f7YBdaQnyctV96HU7eOcrANx6/Whg9e/nqQpjD3qSWL32XsI9vdEbu02bPt5Ng13HMrdPMOou92HVF69x31IP/Y7De/+HeoKHjeE9843D3+axGenvoyHjeOnE2rDrICvmM+85jHv1xlV0y7EmynH/GIKnibQMCuaaRIMc1OektUtJeDpoA3jBJ4KyzB24CkhGhNOl1IhwTxdrl8ol9LZ+6UDvW4MEybucpdqoTGw4Cn2/FKOmTLaMBngaTAa/pPimQ7ZMH7gqY4MA0OXuqAx1XfpPPDtlg3w1BaNqf1MyekXXM60B42RxUzvYVy7pD+lDmQYgjNTgtAYQTNTmGIYZJZS+cAAjVENM3UMjdFULvUthkEFPDVjfvEI89YYtUZS0dAYCaALvFCCJniCKJiCKriCLNiCLviCMBiDKQiBOBJtkVdIOMJxN3garmQft7GDntGD74EMQMiDOBIIRRiEOJIDSVgZQnge7BBfTRhEM+JsU2gYT2geXHCFWMgi+vCDXIhFLDI9YUiFJbIkZSiGJXIDaaiGHxKFbRhJJdJ3cUgVWZgdz1eHdggi+jBienhJIJJ3f8gUdzgdBDOI/oD4IednGEogg474iJAYiZL4gjSYIS3XGAqVUoDQGA/QKi61Ao1RBSxXGUDlUn3QGANwbR/1GoZhPy71DB0zUw3lFwPAPi7Fin6hBDPFDJXReySVbXZRALaYUvRDezPVaoaBLilVB41RANvjUiDQGFMwU1tlGLTjUkFnF9rjUvDwdm5hbyllg7g2U/iVPRr3UdVQGVkwUwD2ay5lD35oFxiwPAuFCpVhfymFBI0hAFH1UeIghW4xXymFhPnnYa/nFvPoUgx2SzP1YmXVjxplVIYhkCSFKAWZUu7gjWaRkCl1CPdokPsIkRW1kH5BkR+FbhdJUhLpFxxJUoZXfy4l/g795xb86FJlM5EutQ5j5Bf6l1KzyJL0CFDv4ICNkQguJVut84wfVQ9g6Bfhl1Jdlz1BRlL5cGJy5VJO5hcGcA6fWBkrR1KVxXoW91H5IHJc5VKC1DsGRlL4AG+NAQUuRQmesR8fNQ+G0xhE4FIeWRmzRFLwEI92IQMulV2V4XAalQ7IY3ku1Y6GAT4f1Q3k0xgfsG0GpYGGoXAfBXOS6YkapQ8q4BmskFJyWRk4gJER4BnIRFKM6RcH+FHNYjcepVFF4Bl8kFJEVBkVEA8kVQ/RGIskRX+uFpT2ZA0zaReZqFFsWBnLR1KWkCmb8lHkAJh2gScktR2VASkkxXBF/klS8hBYlfEB5whRsuMZp0BS0PB0dlGaH3UPLXAaqalRbVUZZUBSw8B+fqEBxAdR8FCMlaELJLVYntE4HwV/nmEBuaJR6sA6lQFsFUVu6khSXuIZEsA/EIUlpyFhGoUPMnAacPlRbHAaE/pRJNkYyghR2AA2niFvFXUip+EA/wdR/BUxH/U0pyEEH5UMkVkZCxCbBmUOBNQYGApR9lCOniE3GpWNjZECUgNRV+UZCvCcEBUM6OkXQbpQ3nCap/GVC/UOn3kaLhCe+6QPCegZDDCWC8WMD6JRCAYbIVZRtGCfhvGlFaUMCAAbZVpR3TBDMVNR6zACuOFvEFUPNoAbYDOQMQClD3ADGxCAEBC1ms2IZQtFQ9dYUbiBj5R6GgL6UadBBJypUZ6BFy5VGRdwNCnVGAuQeqFKi1w2U4ZRijzlFwInVnZRPWKVEG7hA2CaqlSBAgdaq/vQFQfhqwoREAAh+QQFBQD/ACycAHwAWAD1AAAI/gD/CRxIsKDBgwQh7VvIsKHDhxAjSpyIsKLFgiUmatzIUeLFjxUzdhxJ0iPIkwRFlly5EqXLfypZyuT4EmXMmTgj1jx5M6dPhjtB9vzpM+jHoURxGr2INKnMpRabOm0JFaHUqSSrWsX6U+vBq1xpesUYNudYsmVnnk2ZVu1agWDb6nwLUy5LunXtlsTLt6/fv4ADCx5MuLDhw4gTK17MuLHjx5AjS55MubLly5gza97MubPnz6BDix5NurTp06hTq17NurXr17Bjy55Nu3bFPrhz697Nu7fv38CDC/+9DIDx48iTK1/OvLnz59Cbc4pOvbr169CnY9/OvTtz7d7D/ou3Dn68+fPKy6Nfb149+/fd3cOfT56+fezy7+tfnn+/f+P9/bdfgALeR2CB9B2IIHwKLshegw6iB2GE7VH4Hye2Zajhhhx26OGHIIYo4ogklmjiiSimqOKKLLbo4oswxijjjDT6BcSNOOao44489ujjjagMRiEjQkZIpGBDFungkYEliaSRSi7IJGBONgnlk0tGieCUf1VJ5ZVWZomllFoWyKVfXnYJJmA/tunmm0AEWeOcdNZp55145qnnnnz26eefgAYq6KCEFmrooYjyqYheXUG1KKNmOQpppEs9OulTkl6KaaWabmqUpZ1mlWmoonJKaqmfnopqUKCqqlFVd626apKpsr46aq2zpoorRbfu+hCsvubKarBz0UpsQ1UJc+yviTbr7LPQRivttNRWa+212Gar7bbcduutYsQEi1dcl44rLl3kTmqur+vu2i6u79Yar6zzulqvqveemi+p+4bab6f/ahpwueie+1a6kA6sLl3h+hoQACH5BAUFAP8ALJUAfABpAPUAAAj+AP8JHEiwoMGB6/YpXMiwocOHECNKnEhR4cGLGLdV3Mixo8eGGEMW1PixpMmT+0Sq/EcSpcuXEVeKbAmzZk2ZIWna3HkSZ0aeQHv6PKgzqFGKQ4keXVoxqcGiTKMudDpSqlWQVAdCvbo0q1auXL0K3Ao2qFiWZa2eJZt259q2Ud/C7SqW7dyXcu+aPcu3r9+/gAMLHky4sOHDiBMrXsy4sePHkCNLnky5suXLmDNr3sy5s+fPoEOLHk26tOnTqFOrXs26tevXsGPLnk27tu3buHPr3s27t+/fwIMLp9qnuPHjyJMrX868ufPn0KMDmE69uvXr2LNr3869u/fv4MP+ix9Pvrz58+jTq1/Pvr379/Djy59Pv779+/jz69/Pv7///wAGKOCABBZo4IEIJqjgggw26OCD+w0n4YQUVmjhhRhmqOGGHHbo4YcghijiiCSWaOKJKKao4oostujiizByCMSMNNZo44045qjjjjz26OOOgwwE4X1cCDlkfUUKdCSSRi4pX5L/ODkflFI+2WSV7lGJ5Xtabtlel16uB2aY6Y1J5nlmnllemmqOx2ab4b0J53dyztldnXZuB+WPfPbp55+AzhhkjIQWauihiCaq6KKMNuroo5BGKumklFZq6aWYZqrpppyepYJeoD70aaikKjRqqaGeiqpeqq46V6uVrrYFa6xlzUorV7bealWuukbFa69L/QqsUcIOC1Sxxu6EbLI1LcvsS84+i1K00ppEbbUfSYItU5126+234IYr7rjklmvuueimq+667Lbr7rvwQjbPthLlRa9D9t7LUL76WlRXv/j+C/C+Ag/sr1d2Yctvvwvr2/C9D9Mb8bYTK1ywwRVXm7G0Gz/bMbMfJ3vWvAYrFBAAIfkEBQUA/wAslQB8AGkA9QAACP4A/wkcKBDSvoMIEypcyLChw4cQI0pUSJBgiYkYM2rcmLHiwIscQ4ocKdGjQJAkU6ocafIfypUwY0Zs+VKmzZsHaeLceVMnz58rfQIdKlIo0aMdTdZEyvSh0aZQGT6NSjWn0qpYEU7N2nQrV6RevxINKxYo2bI8z6LF2bKt27dw48qdS7eu3bt48+rdy7ev37+AAwseTLiw4cOIEytezLix48eQI0ueTLmy5cuYM2vezLmz58+gQ4seTbq06dOoU6tezbq169ewY8ueTbu27du4c+vezbu379/Ag3MW5jS4ouLAjzsUrrwhc+S/m0s1Dt239IXPl1PXnrx67+sUt/47Fz+9O/fo3nmDT5h9vHn36M8Ln0+/vv37+PPr38+/v///AAYo4IAEFmjggQgmqOCCDDbo4IMQRihhY0BUaOGFGGao4YYcdujhhyCGCMCIJJZo4okopqjiiiy26OKLMMYo44w01mjjjTjmqOOOPPbo449ABinkkEQWaeSRSCap5JJMNunkk1BGKeWUVFZp5ZVYZqnlllx22WWIYIYp5phkZjjhmWimqeaabLbp5ptwxinnnHTWaeedeOap55589unnn5QByUlrghL646CsFZrooYb6iOhqikLK6KKONtrjo6pFmumkklZK6aWW8ohpapqSyummnnYKKmt9tOrqq3Wwxiqrq8sAauutuOaq66689urrr8AGK+ywxBZr7LHIJvsgMWt1dVWzYD0L7VjSTmtWtdamhW22bG3LrU1qfUtSuOIW5W25QZ2LbkrkrqtRu+5iBG+8JalLL0fz3pueS/qm69FS/eJrb8AT5UtweB4xe7BIAQEAIfkEBQUA/wAsnQB8AFcA9QAACP4AM/0bSLCgwYMIEypcyLBhQhwOI0qcSJEhxIoYM2pEeHGjx48SO4IcSdKgyJIoQZ5MyTLjypYwQ8acSfElzZsHbeLc+U8nz5s+f84MKhQm0aIsjyJFqXQpyaZOVUbdCXWq1atYs2rdyrWr169gw4odS7as2bNo06pdy7at27dw48qdS7eu3bt48+rdy7ev37+AAwseTLiw4Zm59ilezLix48eQI0uG7PHO5MuYM2OurLmzZ82cP4se3Tg06dOfTaNevXmjZdawJ6uOTZvx7Nq1b+OOrXs3696+UQMPTno4cdHGj3tOrhy06+awmUO/LH265OrWKR/ezr279+/gw/6LH0++vPnz6NOrX8++vfv38OPLn0+/vv37+PPr38+/v///AAYo4IAEFmjggQgmqOCCDDbo4IMQRijhhBRWaKFGAGSo4YYcdujhhyCGKOKIH8JC4okopqiiiCau6OKLMHrYYow01ojijDbmqCOHOO7oo409/ijki0EOaeSNRyapYpFKNtkhk05GCQCUUjZJZZVJXomlkVpuKWSXXvoIZpg6jkkmkGdGCUsfbLbp5ptwxinnnHTWaaec1Vyo55589unnn4AGKuighBZq6KGIJtpSMntVpZajaUGKlqRnUWqWpWVhSpamY3EqlqdhgQqWqF+R6pWpXaHKlapbsaqVqwhZwYoVo3oFBAAh+QQFBQD/ACyVAHwAaQD1AAAI/gD7CBxIsKDBgf8SKlzIsKHDhxAjSpyoEIDFixgzarzojqLHjyBDMtxIsmRHkShTqvxXsmXGkytjyoTosiYAmDNz5rTpEqfOnyp5tvQJtChIoSaNKg2JlCTRpVAdNt34NKrVhFM1Vr0aNetLrmAreuUYNuxYsmW5nrW4NS3QtTfdXoXbVu7OtXXtyqSrFyrfvoADCx5MuLDhw4gTK17MuLHjx5AjS55MubLly5gza97MubPnz6BDix5NurTp06hTq17NurXr17Bjy55Nu7bt27gZ/tnHu7fv38CDCx9OvLjx48cHIF/OvLnz57+VQ59OvXpz6daza9+Ofbv379fB/osfX7w7+fPkzaNf7109+/fV3cOf71w+/fvJ8esPv7+/cfv+BQhggP0NSKB+Bh54X4IKzsdgg+89COF6uVVo4YUYZqjhhhx26OGHIIYo4ogklmjiiSimqOKKLLbo4oswxigjYlr0VtsINtKGI2835jjbjvv0yKOOPsoGpJBBEjnkj0XGdqSSSTK5pJFNwvaklFFSOaWTVb5W45YzhinmmGSWaeaZaKap5ppstunmm3DGKeecdNZp550twqXnnnz26eefgAYq6KCEFmrooYgmquiijDbq6KOQRirppJRWaumlmGaq6aacdurpp6CGKuqonR5k6qmopqrqqqy2ahCeWbDGKuustNZq66245qrrrrz26uuvwAYr7Ga8FGvsscgma2xof3nWbGfPchbtZtNqVm1m12KW7WXbWtZtZd9SFu5k40pWbmTnQpbuY+s61m5j7zKm7Lz0hhYQACH5BAEFAP8ALJUAfABpAPUAAAj+APsIHEiwoMGDCAdm+sewocOHECNKnEiRIoCLGDNq3MixI0YcFUOKHEnSo8mTHkGSXMlyJcqXMFW2nEkTIsybJmXW3DkTp8+NOnkKHfmz6MWgQ5NONFoUqdKnDpn+dAoVqlSfVKsqvYozq9ahXG96/cozbEyyX82+HIuWplqUbNu2fHsyrlyXdFPefZpX796kfTva/RsyMMfBhBMrXsy4sePHkCNLnky5suXLmDNr3sy5s+fPoEOLHk26tOnTqFOrXs26tevXsGPLnk27tu3buHPr3s27t+/fwIMLH068dsLjyPtUS90XFvO8zlE3f043+unp0qFTf2vdNPbr2rP+V9+utnvp797Dgx8vnjt5s+ZJoz+vPj374vjz69/Pv7///wAGKOCABBZo4IEIJqjgggw26OCDEEYo4YQUVmghan3so+GGHHbo4YcghtihZVWIaOKJKHJIYoostjhiZSW6KGOKK85oo4g13qjji5TFuOOP++QIpI5CDmljkUbKiGSSLS7JJI0wPnlklFIqSWWVTV6JJZQ9bplll15yOZmPYZpoWYZlnnjhmmy26eabcMYp55x01mnnnXjmqeeefPbp55+ABiponXfg2FuhIfqGKIiKGsrboh82muihju4GqYeSMkrppI9WqtulPFrqaW6gqrippp1yKqqqn46KW6l1G/qWi6uD1mrrrbjmquuuvPbq66/ABivssMQWa+yx/vGi7LLMNuvss9Aum0xohgFFbbUZIRYZttleyy0A2kL27VHechvuY+OCWy625zqWbruNvbtutfAyJi9o936Wr2f7dtYvZ/9uFrBmA2cW7cEIRzstaAEBADs=');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  width: 1em;
  height: 1em;
  right: -1.5em;
  bottom: 0px;
}

main:target ~ div.menu a#menu_item_home:after {
  content: ' ';
  background-image: none !important;
  max-width: 0px;
  max-height: 0px;
}

@media print {
  div.hamburger {
    display: none;
  }
  div.menu {
    display: none;
  }
}
